DATABASE_URL="postgresql://n0va:n0va@localhost:5433/n0va?schema=public"
REDIS_URL="redis://localhost:6379"
NEXT_PUBLIC_CHAT_WS_URL="ws://localhost:8080"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="dev-only-secret-please-rotate-0123456789abcdef0123456789abcdef"
AUTH_SECRET="dev-only-secret-please-rotate-0123456789abcdef0123456789abcdef"
AUTH_TRUST_HOST=true
